/* Import font  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* CSS header */
header {
    background-image: url('../img/pattern.png');
    background-color: rgb(119, 200, 253);
    background-size: 240px;
}
header img{ /* img selected is only img in header */
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
}
/* CSS main */
main{
    padding: 10px; /* to spacing main page */
}
.title h1{
    font-size: 30px;
    font-weight: 800;
}
.write{ 
    color: rgb(124, 124, 124);
    font-size: 14px;
}
.write a{
    color: rgb(0, 217, 255);
    text-decoration: none;
}
.title span{
    color: rgb(124, 124, 124);
    font-size: 12px;
}